# Bibliotecas Principais
streamlit>=1.31.0
altair
pandas
numpy
plotly

# Conectores de Banco de Dados
oracledb
psycopg2-binary
python-dotenv

# Manipulação de Excel
openpyxl

# --- SECURITY & AUTH ---
# Removi as versões fixas para evitar conflito de compilação no Linux
streamlit-authenticator
bcrypt

# --- OBSERVABILITY & VALIDATION ---
pydantic
loguru
